<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div ng-app="myApp">
<div ng-controller="FirstCtrl">
<input ng-model="searchTerm">
        <div ng-repeat="item in arr |filter:searchTerm ">{{item | reverse}}</div>
        The number value is :{{num | currency}}
        {{'hi every one' | reverse}}

        

</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script>
	
	angular.module('myApp',[])
	angular.module('myApp').controller('FirstCtrl', ['$scope', function($scope){
		$scope.arr=['hi','every','how','are','you','doing'];
        $scope.num=100
		
		
	}]);
    angular.module('myApp').filter('reverse',function(){
          return function(data){

            if(data=='') {return data}
                if(data){
                    return data.split('').reverse('').join('');
                }
          }

    })
	</script>
</body>
</html>